body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wd-fill-image {
  height: 100%;
  width: 100%;
}

.wd-center {
  text-align: center;
}

.wd-left {
  text-align: left;
}

.wd-right {
  float: right;
}

.wd-bold {
  font-weight: bold;
}

.wd-form-border {
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  margin: 20px;
}

.wd-padding {
  padding: 10px;
}

.wd-small-image {
  height: 100px;
  width: 150px;
  object-fit: cover;
  float: right;
}

.wd-no-border {
  border-style: none;
}

.wd-new-line {
  white-space: pre-line;
}

.wd-label {
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
}

.wd-width-75 {
  width: 75%;
}

.wd-height-200 {
  height: 200px;
}

.wd-height-250 {
  height: 250px;
}

.wd-background {
  background-color: lightblue;
}

.wd-blue {
  color: lightblue;
}

html {
  background-color: lightblue
}

.wd-font {
  font-family: Copperplate;
}

* {
  font-family: verdana;
}